{
    "app-name-1": {
        "db-1-name": {
            "type": "better-sqlite3",
            "database": "/path/to/db/db-1.db",
            "logging": [
                "error"
            ]
        },
        "db-2-name": {
            "type": "better-sqlite3",
            "database": "/path/to/db/db-2.db",
            "logging": [
                "error"
            ]
        }
    }
}