** create a test bot and a prod bot and use separate config files **
{
    "bot-name-1": {
        "token": "secrts",
        "clientId": "secrets",
    },
    "bot-name-2": {
        "token": "secrts",
        "clientId": "secrets",
    }
}